@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --font-TagName: "Roboto Condensed", sans-serif;
  --font-pragraph: "Amiri", serif;
  --margin-top-sections: 50px;
  --margin-bottom-sections: 50px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    height: 5000px;
}
/* < !-- start header section --> */
.TagName{
    width: 100%;
    background-color: #fff;
    color:#000;
}
.Tag_name_content{
    font-family: var(--font-TagName);
    font-size: 70px;
    font-weight: 700;
    margin-top: var(--margin-top-sections);

}
.banner_about{
    width: 100%;
    height: 600px;
    background-image: url(".././images/about_us/2.webp");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
   
}
/* < !-- start header section --> */
/* < !--  start our_discrption_section section --> */
.our_discrption_section{
    width: 100%;
    height: auto;
    margin-top: var(--margin-top-sections);
}
.our_story,.our_Mission{
    width: 100%;
   
}
.our_Mission{
    margin-top:30px;
}
.titel{
    margin-bottom: 22px;
}
.discrption-our-story_bold,.discrption-our-Mission_bold{
    font-size: 18px;
}
/* < !-- end our_discrption_section section --> */
