<div class="container-fluid d-flex position-absolute justify-content-between align-items-center">
    <div class="menu-icon d-flex justify-content-start align-items-center flex-wrap">
        <span></span>
        <span></span>
    </div>
    <ul class="nav nav-tabs d-none d-lg-flex">
        <li class="nav-item dropdown">
            <a class="nav-link text-uppercase" data-bs-toggle="dropdown" href="/" aria-expanded="false">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">shop</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All products</a></li>
                <li><a class="dropdown-item" href="#">Women</a></li>
                <li><a class="dropdown-item" href="#">Men</a></li>
                <li><a class="dropdown-item" href="#">Kids</a></li>
                <li><a class="dropdown-item" href="#">Offers</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link  text-uppercase" data-bs-toggle="dropdown" href="/home" role="button"
                aria-expanded="false">blog</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">pages</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Home 1</a></li>
                <li><a class="dropdown-item" href="#">Home 2</a></li>
                <li><a class="dropdown-item" href="#">Home 3</a></li>
                <li><a class="dropdown-item" href="#">Home 4</a></li>
                <li><a class="dropdown-item" href="#">Home 5</a></li>
            </ul>
        </li>
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
    <div class="head-title align-items-center d-flex ps-xl-5 ps-lg-2">
        <h1 class="pe-3 mb-0">Glamorique</h1>
        <div></div>
    </div>
    <ul class="icons list-unstyled justify-content-end mb-0 d-none d-lg-flex">
        <li><i class="fa-solid fa-magnifying-glass"></i></li>
        <li><i class="fa-solid fa-user"></i></li>
        <li><i class="fa-regular fa-heart"></i></li>
        <li class="showCart">
            <i class="fa-solid fa-bag-shopping"></i>
        </li>
    </ul>
    <span class="text-decoration-none fs-4 d-flex d-lg-none text-dark showCart"><i
            class="fa-solid fa-bag-shopping "></i></span>
</div>

<!-- start Side Menu -->
<div class="side_menu col-lg-6 col-sm-12 col-md-12">
    <div class="container">
        <div class="side_content d-flex aling-items-center justify-content-center flex-column ">
            <div class="header_slider">
                <ul class="list_menu">
                    <li data-type="women" class="Header_linke active"><a href="/women">women</a></li>
                    <li data-type="men" class="Header_linke "><a href="/men">men</a></li>
                    <li data-type="kids" class="Header_linke "><a href="/kids">kids</a></li>
                </ul>
            </div>
            <div class="body_side_content d-flex  justify-content-between col-12">
                <div class="links col-lg-6 col-md-4 col-sm-6 ">
                    <ul class="sections_linkes ">
                        <li class="Link_Section active" data-name="women"><a href="/">HOME</a></li>
                        <li class="Link_Section active" data-name="women"><a href="/about">About</a></li>
                        <li class="Link_Section active" data-name="women">ACCESSORIES</li>
                        <li class="Link_Section active" data-name="women">WOMEN</li>
                        <li class="Link_Section active" data-name="women">KIDS</li>
                        <li class="Link_Section active" data-name="women">COLLECTION</li>
                        <li class="Link_Section active" data-name="women">SALE UP TO 50% OFF</li>
                        <li class="Link_Section active" data-name="women">JEANS</li>
                        <li class="Link_Section active" data-name="women">DRESSES</li>
                        <li class="Link_Section active" data-name="women">SHOES</li>
                        <li class="Link_Section active" data-name="women">JOIN LIFE</li>
                        <li class="Link_Section" data-name="men">ACCESSORIES</li>
                        <li class="Link_Section" data-name="men">JOIN LIFE</li>
                        <li data-name="men">T-SHIRTS & TOPS</li>
                        <li class="Link_Section" data-name="men">GIFT CARD</li>
                        <li class="Link_Section" data-name="men">JACKETS & COATS</li>
                        <li class="Link_Section" data-name="men">BEST SELLERS</li>
                        <li class="Link_Section" data-name="men">COLLECTION</li>
                        <li class="Link_Section" data-name="men">SALE UP TO 50% OFF</li>
                        <li class="Link_Section" data-name="men">#UOMOSTYLE</li>
                        <li class="Link_Section" data-name="kids">MAN</li>
                        <li class="Link_Section" data-name="kids">WOMEN</li>
                        <li class="Link_Section" data-name="kids">COLLECTION</li>
                        <li class="Link_Section" data-name="kids">SALE UP TO 50% OFF</li>
                        <li class="Link_Section" data-name="kids">ACCESSORIES</li>
                        <li class="Link_Section" data-name="kids">JOIN LIFE</li>
                        <li class="Link_Section" data-name="kids">T-SHIRTS & TOPS</li>
                        <li class="Link_Section" data-name="kids">JEANS</li>
                        <li class="Link_Section" data-name="kids">BEST SELLERS</li>
                        <li class="Link_Section" data-name="kids">DRESSES</li>
                    </ul>
                </div>
                <div class="img_slider col-lg-6 col-md-4 col-sm-auto">
                    <img src="images/side_menu/tab_women.jpg" alt="" class="image_section active" data-img="women">
                    <img src="images/side_menu/3.jpg" alt="" class="image_section" data-img="men">
                    <img src="images/side_menu/2.jpg" alt="" class="image_section" data-img="kids">
                </div>
            </div>
        </div>
    </div>
</div>