<%- include("./partials/header.ejs") %>
    <!-- Landing start -->
    <section class="landing position-relative mb-3">
        <%- include("./partials/navbar.ejs") %>
    </section>
    <!-- start side menu -->
    <div class="side_menu col-lg-6 col-sm-12 col-md-12">
        <div class="container">
            <div class="side_content d-flex aling-items-center justify-content-center flex-column ">
                <div class="header_slider">
                    <ul class="list_menu">
                        <li data-type="women" class="Header_linke active"><a href="women">women</a></li>
                        <li data-type="men" class="Header_linke "><a href="men">men</a></li>
                        <li data-type="kids" class="Header_linke "><a href="kids">kids</a></li>
                    </ul>
                </div>
                <div class="body_side_content d-flex  justify-content-between col-12">
                    <div class="links col-lg-6 col-md-4 col-sm-6 ">
                        <ul class="sections_linkes ">
                            <li class="Link_Section active" data-name="women">ACCESSORIES</li>
                            <li class="Link_Section active" data-name="women">WOMEN</li>
                            <li class="Link_Section active" data-name="women">KIDS</li>
                            <li class="Link_Section active" data-name="women">HOME</li>
                            <li class="Link_Section active" data-name="women">COLLECTION</li>
                            <li class="Link_Section active" data-name="women">SALE UP TO 50% OFF</li>
                            <li class="Link_Section active" data-name="women">JEANS</li>
                            <li class="Link_Section active" data-name="women">DRESSES</li>
                            <li class="Link_Section active" data-name="women">SHOES</li>
                            <li class="Link_Section active" data-name="women">JOIN LIFE</li>
                            <li class="Link_Section" data-name="men">ACCESSORIES</li>
                            <li class="Link_Section" data-name="men">JOIN LIFE</li>
                            <li data-name="men">T-SHIRTS & TOPS</li>
                            <li class="Link_Section" data-name="men">GIFT CARD</li>
                            <li class="Link_Section" data-name="men">JACKETS & COATS</li>
                            <li class="Link_Section" data-name="men">BEST SELLERS</li>
                            <li class="Link_Section" data-name="men">COLLECTION</li>
                            <li class="Link_Section" data-name="men">SALE UP TO 50% OFF</li>
                            <li class="Link_Section" data-name="men">#UOMOSTYLE</li>
                            <li class="Link_Section" data-name="kids">MAN</li>
                            <li class="Link_Section" data-name="kids">WOMEN</li>
                            <li class="Link_Section" data-name="kids">COLLECTION</li>
                            <li class="Link_Section" data-name="kids">SALE UP TO 50% OFF</li>
                            <li class="Link_Section" data-name="kids">ACCESSORIES</li>
                            <li class="Link_Section" data-name="kids">JOIN LIFE</li>
                            <li class="Link_Section" data-name="kids">T-SHIRTS & TOPS</li>
                            <li class="Link_Section" data-name="kids">JEANS</li>
                            <li class="Link_Section" data-name="kids">BEST SELLERS</li>
                            <li class="Link_Section" data-name="kids">DRESSES</li>
                        </ul>
                    </div>
                    <div class="img_slider col-lg-6 col-md-4 col-sm-auto">
                        <img src="images/side_menu/tab_women.jpg" alt="" class="image_section active" data-img="women">
                        <img src="images/side_menu/3.jpg" alt="" class="image_section" data-img="men">
                        <img src="images/side_menu/2.jpg" alt="" class="image_section" data-img="kids">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end side menu -->
    <!-- start TagName section -->
    <div class="TagName col-12">
        <div class="container">
            <h2 class="Tag_name_content text-uppercase col-12 d-flex
                    align-content-center">About us</h2>
        </div>
        <div class="banner_about col-12">
        </div>
    </div>
    <!-- end header section -->
    <!-- start out story -->
    <div class="our_discription_section">
        <div class="container">
            <div class="our_story d-flex align-items-center
                    justify-content-start flex-column">
                <h4 class=" titel col-12 d-flex align-items-center
                        justify-content-start text-uppercase fw-bolder fs-2k">OUR
                    STORY</h4>
                <p class="discription-our-story_bold fw-bold col-12 ">
                    Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                </p>
                <p class="discription-our-story_thin col-12">
                    Saw wherein fruitful good days image them, midst, waters
                    upon, saw. Seas lights seasons. Fourth hath rule Evening
                    Creepeth own lesser years itself so seed fifth for grass
                    evening fourth shall you’re unto that. Had. Female
                    replenish
                    for yielding so saw all one to yielding grass you’ll air
                    sea it, open waters subdue, hath. Brought second Made.
                    Be.
                    Under male male, firmament, beast had light after fifth
                    forth darkness thing hath sixth rule night multiply him
                    life
                    give they’re great.
                </p>
            </div>
            <div class="our_Mission d-flex align-items-center
                    justify-content-start flex-column">
                <h4 class=" titel col-12 d-flex align-items-center
                        justify-content-start text-uppercase fw-bolder fs-5">Our
                    Mission</h4>
                <p class="discription-our-Mission_thin col-12">
                    Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut
                    perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa
                    quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo.
                </p>
            </div>
            <div class="our_Mission d-flex align-items-center
                    justify-content-start flex-column">
                <h4 class=" titel col-12 d-flex align-items-center
                        justify-content-start text-uppercase fw-bolder fs-5">Our
                    Vision</h4>
                <p class="discription-our-Mission_thin col-12">
                    Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut
                    perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa
                    quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </div>
    <!-- end out story -->
    <!-- start Company Partners -->
    <div class="brand_section col-12  ">
        <div class="container">
            <h5 class=" Partners col-12 fw-bold ">Company Partners</h5>
            <div class="brand_contant col-12">
                <ul class="list_brand col-12 d-flex align-content-center justify-content-between">
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/mongo.png" alt="mongo">
                    </li>
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/osos.png" alt="osos">
                    </li>
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/reebok.png" alt="reebok">
                    </li>
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/zara.png" alt="zara">
                    </li>
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/adidas.png" alt="zara">
                    </li>
                    <li class="col-lg-2 col-md-3 col-sm-6">
                        <img src="images/brand/star.png" alt="zara">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end Company Partners  -->
    <!-- start our team -->
    <div class="our-team col-12">
        <div class="container">
            <h2 class="our_team_title col-12 text-uppercase fw-3">Our team</h2>
            <div class="our-team-content col-12">
                <div class="member one col-12 d-flex justify-content-center
                        ">
                    <div class="discription-member col-lg-6 col-xs-12 d-flex
                            align-items-center justify-content-between
                            flex-column">
                        <h3 class="member_name ">Ahmed Abdelsamie</h3>
                        <h6 class="work-title">Frontend Developer</h6>
                        <p class="dis ">Front-end developers use HTML, CSS,
                            and JavaScript to build the client side of a
                            website. They are responsible for
                            building the visual elements on a page, such as
                            the layout, buttons, menus, forms, and other
                            features that users will
                            see and interact with when they visit a webpage.
                        </p>
                        <div class="contact d-flex align-items-center
                                justify-content-center">
                            <ul class="contact-way d-flex align-items-center
                                    justify-content-center">
                                <li class="ms-5"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="photo-member col-lg-6 col-xs-12">
                        <img src="./images/about_us/member/ahmed.jpg" alt="">
                    </div>
                </div>
                <div class="member two col-12 d-flex align-items-center
                        justify-content-between mb-5">
                    <div class="photo-member col-lg-6 col-xs-12">
                        <img src="./images/about_us/member/mahmoud.png" alt="">
                    </div>
                    <div class="discription-member col-lg-6 col-xs-12 d-flex
                                                align-items-center justify-content-between
                                                flex-column">
                        <h3 class="member_name ">Mahmoud Saeed</h3>
                        <h6 class="work-title">Frontend Developer</h6>
                        <p class="dis ">Front-end developers use HTML, CSS,
                            and JavaScript to build the client side of a
                            website. They are responsible for
                            building the visual elements on a page, such as
                            the layout, buttons, menus, forms, and other
                            features that users will
                            see and interact with when they visit a webpage.
                        </p>
                        <div class="contact d-flex align-items-center
                                                    justify-content-center">
                            <ul class="contact-way d-flex align-items-center
                                                        justify-content-center">
                                <li class="ms-5"><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                                <li class="ms-5"><a href=""><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end our team -->
    <%- include("./partials/footer.ejs") %>