<div class="cart hidden">
    <h2 class="CartName text-uppercase">Your Cart</h2>
    <hr>
    <div class="content_cart d-flex align-items-center justify-content-around flex-column">
        <div class="titleDescription d-flex align-items- justify-content-between">
            <p>name</p>
            <p>price</p>
            <p class="counter_name">counter</p>
            <p class='RemoveBtn'>remove</p>
        </div>
        <div class="display-product d-flex align-items-center justify-content-around flex-column">

        </div>
    </div>
 <div class="FooterCart d-flex align-items-center justify-content-between">
<div id="totalAmount">
</div>
<p class="quantity-value"></p>
<div class="ButtonsFooter">
    <button type="button" class="btn btn-secondary"><a href="http://localhost:3000">Back To Shopping</a></button>
    <button type="button" class="btn btn-success">Success</button>
</div>
 </div>
    
</div>