<div class="cart hidden">
    <ul>
        <%# for(var i=0; i < cartItems.length; i++) { %>
            <li>
                <%#=cartItems[i].name %> - $<%#= cartItems[i].price %>
            </li>
            <%# } %>
    </ul>
</div>