<div style="overflow: auto;" class="cart hidden">
    <h2 class="CartName text-uppercase">Cart</h2>
    <hr>
    <div class="display-product d-flex align-items-center justify-content-around flex-column">

    </div>
    <hr>
    <div id="totalAmount">

    </div>
</div>