<%- include("./partials/header.ejs") %>
    <!-- Landing start -->
    <section class="landing position-relative mb-3">
        <%- include("./partials/navbar.ejs") %>
    </section>



    <%- include("./partials/footer.ejs") %>