<%- include("./partials/header.ejs") %>
    <!-- Landing start -->
    <section class="landing position-relative mb-3">
        <%- include("./partials/navbar.ejs") %>
    </section>

    <div class="women-banner conatiner mx-3 mb-3">
        <img src="/images/women/banner.jpg" alt="banner-img" class="img-fluid">
    </div>

    <div class="main container-fluid">
        <div class="row">
            <div class="col-3 ps-3 pt-4">
                <ul class="d-flex flex-column align-items-stretch justify-content-center mb-2 ps-2">
                    <li><a href="/">Home</a></li>
                    <li><a href="/women">Women shoes</a></li>
                    <li><a href="/men">Men shirts</a></li>
                    <li><a href="/men">Men shoes</a></li>
                </ul>
                <div class="filter ps-3 my-2 d-flex">
                    <h4>Filters</>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>