<%- include("./partials/header.ejs") %>
    <!-- Landing start -->
    <section class="landing position-relative mb-lg-3">
        <%- include("./partials/navbar.ejs") %>
    </section>

    <div class="women-banner conatiner mx-3 mb-3">
        <img src="/images/women/banner.jpg" alt="banner-img" class="img-fluid" />
    </div>

    <div class="main container-fluid my-5">
        <div class="row pt-4">
            <div class="col-4 col-md-3 ps-3 flex-sm-column flex-row">
                <ul class="d-flex flex-sm-column flex-row align-items-stretch justify-content-center mb-2 ps-2">
                    <li>
                        <i class="fa-solid fa-house pe-3 fs-5"></i> <a href="/">Home</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person-dress pe-3 fs-4"></i>
                        <a href="/women">Women shoes</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person pe-3 fs-4"></i>
                        <a href="/men">Men shirts</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-person pe-3 fs-4"></i>
                        <a href="/men">Men shoes</a>
                    </li>
                </ul>
                <hr />
                <div class="filter px-3 my-1 py-2 d-flex">
                    <h4>Filters</h4>
                </div>
                <hr />
                <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                    <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                        <h4 class="type fs-6 ">Type</h4>
                        <i class="fa-solid fa-angle-down fs-5"></i>
                    </div>
                    <div class="Filter_by_type"></div>
                </div>
                <hr />
            <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                    <h4 class="Brand fs-6 ">Brand</h4>
                    <i class="fa-solid fa-angle-down fs-5"></i>
                </div>
                <div class="Filter_by_type"></div>
            </div>
                <hr />
            <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                    <h4 class="price fs-6 ">price</h4>
                    <i class="fa-solid fa-angle-down fs-5"></i>
                </div>
                <div class="Filter_by_type"></div>
            </div>
                <hr />
                <div class="list d-flex justify-content-between align-items-center  my-1  flex-column">
                    <div class="Header_List d-flex justify-content-between align-items-center py-2 my-1 px-3">
                        <h4 class="color fs-6 ">color</h4>
                        <i class="fa-solid fa-angle-down fs-5"></i>
                    </div>
                    <div class="Filter_by_type"></div>
                </div>
                <hr />
            </div>
            <div class="col-8 col-md-9 d-flex justify-content-center justify-content-lg-between flex-wrap gap-3">
                <div class="card mt-3" style="width: 18rem">
                    <img src="./images/women/banner.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Brand name: xyz</h5>
                        <h5 class="text-muted">Type: shirt</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <div class="card-price d-flex justify-content-between align-items-center">
                            <span class="fs-6 fw-bold">EG 500.00</span>
                            <button class="btn btn-outline-danger">Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" style="width: 18rem">
                    <img src="./images/women/banner.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Brand name: xyz</h5>
                        <h5 class="text-muted">Type: shirt</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <div class="card-price d-flex justify-content-between align-items-center">
                            <span class="fs-6 fw-bold">EG 500.00</span>
                            <button class="btn btn-outline-danger">Add to cart</button>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" style="width: 18rem">
                    <img src="./images/women/banner.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Brand name: xyz</h5>
                        <h5 class="text-muted">Type: shirt</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk of the card's content.
                        </p>
                        <div class="card-price d-flex justify-content-between align-items-center">
                            <span class="fs-6 fw-bold">EG 500.00</span>
                            <button class="btn btn-outline-danger">Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>