*{
    box-sizing: border-box;
}
.cart{
    height: auto;
        top: 50px;
        overflow: hidden;
    
}
.content_cart{
    width: 100%;
}
.titleDescription{
    width: 100%;
    height: 30px;
     margin-bottom: 20px;
}
.car_product{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 100px !important;
}
.titleDescription p,.car_product p,.car_product div
{
    width: 20%;
    height: 100%;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.car_product button{
    width: 10%;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        margin-right: 4px ;
        margin-left: 4px ;

}
.RemoveBtn{
    width: 10%!important;
}
.counter_name{
    width: 50%!important;
}
.display-product{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
.product_content {
    width: 100%;
}

.Counter{
    width: 50% !important;
}
.Counter input{
    width: 30%;
    text-align: center;
}

.remove-content {
    width: 10% !important;
}
.totalAmount{
    font-size: 20px;
}