:root {
  --red-color: #c32929;
  --black-color: #222222;
  --dark-grey-color: #353535;
  --light-grey-color: #787272;
  --gold-color: #b9a16b;
  --small-font: 0.8rem;
  --medium-font: 1rem;
  --big-font: 2rem;
  --bg-footer: #222222;
  --input-footer: #353535;
  --button-footer: #5c5c5c;
  --line-footer: #434343;
  --text-footer: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header start */
.header {
  background-color: var(--black-color);
}

.header .nav .nav-link {
  font-size: var(--small-font);
}

.header .nav:last-child .nav-link ul {
  position: absolute;
  z-index: 999;
  top: 2rem;
  left: 0;
  margin-bottom: 0;
  width: 4.5rem;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transform: translateY(0.5rem);
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  -o-transform: translateY(0.5rem);
  opacity: 0;
  visibility: hidden;
}

.header .nav:last-child .nav-link:hover ul {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.header .nav:last-child .nav-link ul li {
  padding: 3px 10px;
}

.header .nav:last-child .nav-link ul li:hover {
  color: var(--red-color);
}
/* header end */

/* landing start */
.landing .container-fluid {
  top: 1rem;
  left: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .landing .container-fluid {
    background-color: white;
    top: 0;
  }
}

.landing .container-fluid .menu-icon {
  width: 2rem;
  margin: 0.5rem 0;
}

.landing .container-fluid .menu-icon span {
  background-color: var(--black-color);
  height: 2px;
}

.landing .container-fluid .menu-icon span:first-child {
  width: 75%;
  margin-bottom: 0.5rem;
}

.landing .container-fluid .menu-icon span:last-child {
  width: 50%;
}

.nav-tabs,
.nav-tabs .nav-link {
  border: none;
  color: var(--black-color);
  font-size: var(--medium-font);
}

.container-fluid .head-title div {
  background-color: var(--red-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 992px) {
  .container-fluid .head-title {
    flex-grow: 1;
  }
}

.icons li {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.carousel-indicators {
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@media (max-width: 576px) {
  .carousel-indicators {
    margin-left: -1rem !important;
  }
}

.carousel-indicators button[data-bs-target] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--black-color);
}

.carousel-indicators button[data-bs-target]:hover,
.carousel-indicators button[data-bs-target].active {
  width: 0.7rem;
  height: 0.7rem;
  opacity: 1;
}
/* landing end */

/* start banner */
.photo_sections {
  width: 100%;
  height: 400px;
}

.banner {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .photo_sections {
    height: auto;
    flex-direction: column !important;
  }
  .photo-content {
    height: auto;
    flex-direction: column !important;
  }
  .banner {
    margin-bottom: 50px;
    width: 100%;
  }
  .category {
    height: auto !important;
  }
  .category_content {
    height: auto !important;
    flex-direction: column !important;
  }
  .tag_sections {
    margin-top: 70px;
    width: 100%;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px !important;
  }
  .name_section {
    font-size: 25px;
    margin-bottom: 100px;
  }
}
.banner:hover {
  transform: scale(1.1);
  overflow: hidden;
}
.banner.one {
  background-image: url(".././images/baner/1.jpg");
}
.banner.two {
  background-image: url(".././images/baner/2.jpg");
}
.banner.three {
  background-color: #b9a16b;
}
.banner.three .banner_title {
  color: #ffff;
  font-size: 14px;
}
.banner.three .secand-text {
  color: #fff;
}
.text-link {
  position: relative;
}
.text-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  height: 1px;
}
.banner:hover .text-link::after {
  width: 50%;
  border: 1px solid #333;
  left: 0px;
}

/* end banner */
/* start best saleing */
.sections_best {
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sections_best li {
  cursor: pointer;
  color: #333;
  font-weight: 600;
  font-size: 17px;
}
.bestsaling_section .title_section {
  height: 100px;
  margin-top: 50px;
}
.product_content {
  position: relative;
}
.sale {
  width: 40px;
  height: 20px;
  background-color: #c32929;
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}
.model {
  color: var(--gold-color);
}
.price {
  font-size: 14px;
  margin-top: 2px;
}
del {
  color: #c32929;
  font-size: 14px;
}

/* end best saleing */
/* start gategory section  */
.category {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.category_content {
  width: 100%;
  height: 350px;
  margin: 20px;
}
.tag_sections {
  height: 220px;
}
.tag_photo {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
.tag_photo:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.tag_photo.one {
  background-image: url(".././images/category/accessories.jpg");
}
.tag_photo.two {
  background-image: url(".././images/category/bag.jpg");
}
.tag_photo.three {
  background-image: url(".././images/category/shoes.jpg");
}
.tag_photo.four {
  background-image: url(".././images/category/outerwear.jpg");
}
.tag_photo.five {
  background-image: url(".././images/category/top.jpg");
}
/* end gategory section  */
/* start Big Banner */
.Big_banner {
  background-image: url(".././images/baner/season.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 8rem;
}
.NEW_SEASON {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}
.New_Collection {
  color: #fff;
}
.Btn_shop {
  width: 200px;
  height: 45px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.Btn_shop:hover {
  color: #c32929;
}
/* end Big Banner */
/* start Side Menu */
.side_menu {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 1px 1px 1px #ddd, -1px -1px 1px #ddd;
  position: fixed;
  display: none;
}

.side_menu.active {
  display: flex;
}

.side_menu .container {
  width: 100%;
  padding-right: 0;
}

.side_content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.side_content .header_slider {
  width: 100%;
  height: 86px;
  background-color: var(--light_grey_slider);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.side_content .header_slider .list_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.side_content .header_slider .list_menu li {
  display: inline-block;
  width: 100px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}

.side_content .header_slider .list_menu li.active {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.body_side_content {
  padding: 40px;
  height: calc(100% - 86px);
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.img_slider {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.img_slider .image_section {
  max-width: 100%;
  width: 90%;
  display: none;
}

.img_slider .image_section.active {
  display: flex;
}

.sections_linkes {
  list-style: none;
  width: 100%;
}

.sections_linkes li {
  font-size: 20px;
  display: flex;
  margin-bottom: 20px;
  font-weight: 500;
  display: none;
  cursor: pointer;
  position: relative;
}

.sections_linkes li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0x;
  height: 2px;
  background-color: #000;
  transition: 6s;
}

.sections_linkes li:hover::after {
  width: 50%;
}

.sections_linkes li.active {
  display: flex;
}
/* media query */
@media (max-width: 767px) {
  .side_menu {
    width: 80%;
  }
  .body_side_content {
    display: flex;
    width: 100%;
  }
  .links {
    width: 40%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sections_linkes {
    width: 100%;
  }
  .sections_linkes li {
    font-size: 14px;
  }
}
/* end media query */
/* End Side Menu */
/* start LATEST */
.LATEST_section {
  width: 100%;
  height: 550px;
}
.title_section {
  height: 100px;
}
.swiper {
  width: 100%;
  height: 430px;
  overflow: hidden;
}

.swiper-slide {
  width: 22.4%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 10px;
}

.product_content {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product_content .img_product {
  width: 100%;
  height: 80%;
}
.product_content .img_product img {
  width: 100%;
  height: 100%;
}
.love {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.buttons_sections {
  position: absolute;
  top: 68%;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.product_content:hover .buttons_sections {
  display: flex;
}
.AddToCart,
.QiuckViwe {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  width: 100%;
}
.daitail {
  font-size: 13px;
}
.model {
  margin-top: 10px;
  color: var(--gold-color);
  font-size: 14px;
  text-transform: capitalize;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #000;
  font-size: 20px !important;
}

/* end LATEST */
/* start last news */
.last_news {
  width: 100%;
  height: 500px;
}

.news_container {
  height: 370px;
  padding: 0;
  margin: 0;
}

.last_news_content {
  width: 100%;
  height: 100%;
}

.last_news_content .swiper-slide {
  width: 350px;
  height: 600px;
}

.photo_news {
  width: 100%;
  height: 400px;
  background-image: url(".././images/lastnews/236-p882j9fg38vqvi7a5karxqcihnxnxeeoyz2q004qpk.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.photo_news.one {
  background-image: url(".././images/lastnews/236-p882j9fg38vqvi7a5karxqcihnxnxeeoyz2q004qpk.jpg");
}

.photo_news.two {
  background-image: url(".././images/lastnews/2.jpg");
}

.photo_news.three {
  background-image: url(".././images/lastnews/3.jpg");
}

.photo_news.four {
  background-image: url(".././images/lastnews/4.jpg");
}

.icons_control {
  list-style: none;
  width: 100%;
  margin-top: -10px;
}

.icons_control li {
  padding-right: 19px;
  font-size: 14px;
  color: #777;
}

.discrption_news {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  margin-top: -10px;
}
@media (max-width:767px) {
  .discrption_news{
    margin-top: 20px;
  }
}

/* end last news */
/* start brand section  */
.brand_section {
  margin-top: 100px;
  height: 200px;
  width: 100%;
}

.list_brand {
  list-style: none;
}

.list_brand li {
  cursor: pointer;
  overflow: hidden;
}

.list_brand li:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .list_brand {
    flex-direction: column;
  }
  .brand_section {
    height: auto;
  }
  .list_brand li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}


/* end brand section  */

/*start  media query */
@media (max-width: 767px) {
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    width: 100%;
  }

  .product_content {
    width: 100%;
  }

  .Big_banner {
    max-width: 100%;
    background-position-x: inherit;
    background-size: cover;
    height: 200px;
    margin-top: -20px;
  }

  .NEW_SEASON {
    width: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sections_best {
    max-width: 100%;
    overflow: hidden;
    padding: 0px 10px;
  }

  .sections_best li {
    font-size: 14px;
    font-weight: 900;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
/*end  media query */

/* start footer */
footer {
  background-color: var(--bg-footer);
  padding: 20px;
  font-size: 14px;
  color: var(--text-footer);
}

.footer-top h5 {
  font-size: 18px;
}

.footer-top input {
  color: #e4e4e4;
  background-color: var(--input-footer);
  border-color: var(--input-footer);
  border: none;
  padding: 15px 20px;
  width: 80%;
}

.footer-top button {
  padding: 15px 40px;
  margin-left: 20px;
  background-color: var(--button-footer);
  border-color: var(--button-footer);
  color: var(--text-footer);
}

.footer-center ul li a {
  text-decoration: none;
  color: var(--text-footer);
  margin-bottom: 18px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
}

.footer-center ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -7px;
  transition: all ease-in-out 0.3s;
}

.footer-center ul li a:hover::after {
  width: 50%;
}

.footer-line {
  width: 100%;
  background-color: var(--line-footer);
  height: 1px;
}

@media (min-width: 992px) {
  .col-lg-20 {
    width: 20%;
    flex: 20%;
  }
}
/* end footer */

/* backTop start */
.backTop {
  position: fixed;
  bottom: 1.8rem;
  right: 2rem;
  padding: 0.25rem 10px;
  color: white;
  background-color: var(--red-color);
  border: none;
  cursor: pointer;
  z-index: 999;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: none;
}
/* backTop end */
