*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.viewProduct{
    width: 100%;
    height:500px;
    margin: 0;
    padding: 0;
margin-bottom: 50px;
}
.container{
    height: 100%;
    width: 100%;
}
.view_Content_Product{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
 
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.image_Product{
    width: 50%;
    height: 100%;
    padding: 30px;
}
.image_Product img{
    width: 100%;
    height: 100%;
    
}
.information_Product{
    height: 100%;
}
.description {
flex-flow: wrap;
    width: 90%;
    padding: 0px 25px;
    word-spacing: 1.1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* start price section */
.Price_Info{
    width: 100%;
    height:100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.price_Value{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 40px !important;
}
.starts svg:hover{
    color:#ffc107 !important;
    cursor: pointer;

}
.add_Reviews{
    cursor: pointer;
}
.Add_To_Cart{
    width: 100%;
    height: 100px;
}
.Add_To_Cart_Btn{
    width: 60%;
    height: 40px;
}
/* end price section */
